body {
    margin: 0;
    font-family: roboto;
    display: flex;
    background-color: #0b192f;
    justify-content: center;
}

.post-1 {
    background: #9d27b0;
}

.post-2 {
    background: #9bb800;
}

.post-3 {
    background: #ed5120;
}

.post-4 {
    background: #9d27b0;
}

.post-5 {
    background: #2d95bb;
}

.content {
    max-width: 1280px;
    width: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #024161;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 10px;
    height: 70px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link {
    display: inline-block;
    padding-right: 7px;
    padding-left: 7px;
    height: 70px;
    line-height: 70px;
    text-align: right;
}

.link a {
    text-decoration: none;
    color: white;
}

.link:hover {
    background-color: #1f52a4;
}

.link a:visited {
    text-decoration: none;
    color: #fff;
}

.logo {
    color: #fff;
    font-size: 2em;
    font-weight: 200;
    margin: 0 0 0 3%;
}

.logo span {
    color: #9d27b0;
}

.top-post {
    background-image: url(/img/post0.jpg);
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.top-post p {
    color: #9ca6a7;
}

.title {
    color: #fff;
    font-size: 3em;
    font-weight: 300;
    margin: 0;
    line-height: 1.1em;
}

.top-title {
    padding-top: 300px;
    margin: 0 0 0 31px;
}

.description {
    color: #fff;
    font-size: 0.8em;
    font-weight: 400;
    margin: 15px 0 0 31px;
    width: 65%;
    padding-bottom: 25px;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.posts-container {
    max-width: 75%;
}

.post {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.post img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.post-image {
    width: 49.7%;
    height: 260px;
}

.post-image:hover {
    background-color: inherit;
    opacity: 0.8;
}

.color-box:hover {
    background-color: inherit;
    opacity: 0.8
}

.color-box {
    width: 50.3%;
    height: 260px;
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: flex-start;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 260px;
    font-size: 0.9em;
    line-height: 1.5em;
    opacity: 0.6;
    width: 80%;
}

.last-post {
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.date {
    display: inline-block;
}

.day {
    font-size: 2.7em;
    width: 10%;
    margin: 0 5px 0 0;
    opacity: 0.3;
    color: #fff;
    font-weight: 300;
}

.month {
    font-size: 1.1em;
    margin: 0 5px 0 0;
    text-align: center;
    opacity: 0.3;
    color: #fff;
}

.news {
    display: flex;
    flex-direction: column;

    max-width: 24%;

}

.news-container {
    display: flex;
    flex-direction: column;
}

.news-img {
    width: 100%;
    height: 200px;
}

.news-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-text-box {
    background-color: white;
    padding: 30px;

}

.news-text-box h3 {
    font-size: 1.5em;
    font-weight: 300;
    opacity: 0.8;
}

.news-text-box p {
    opacity: 0.8;
}

footer {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #024161;
    margin-top: 10px;
}

footer div {
    margin: 20px;
    font-size: 0.9em;
    color: #fff;
    opacity: 40%;
}

footer div p {
    margin: 0;
}

footer div:nth-child(1) {
    width: 40%;

}

@media only screen and (max-width: 768px) {
    .post {
        flex-direction: column;
    }

    .post:nth-child(even) {
        flex-direction: column;
    }


    .post img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .post-image {
        width: 100%;
        height: auto;
    }

    .color-box {
        width: 100%;
        height: 300px;
        flex-direction: row;
        align-items: center;
    }

    .date {
        align-self: flex-start;
    }

    .text-box {
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav {
        justify-content: space-around;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 96%;
        height: 170px;
    }

    .top-post {
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        max-width: 96%;
    }

    .top-title {
        padding-top: 100px;
        margin: 0 0 0 31px;
    }

    .link {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .hamburger {
        width: 20px;
        height: 2px;
        background-color: #fff;
        margin: 3px 0;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .news {
        max-width: 96%;
    }

    .posts-container {
        max-width: 96%;
    }

    footer {
        width: 96%;
        height: 170px;
    }
}