$header-background-url: "/img/m-h-day.jpg";
$landing-logo-font: Hind, sans-serif;
$header-heading-font: Source Sans Pro, sans-serif;

$colors: (
	back-color:#21232e,
	body-clor: #ffffff,
	landing-logo-font-color: #21232e,
	button-background-color: #699900,
	section-card-text-color: #b6bece,
	gradient-second-color: #3260c3,
	text-selection-color: #14a0c7
)

	