$header-background-url: "/img/m-h-night.jpg";
$landing-logo-font: Fresca, sans-serif;
$header-heading-font: Source Sans Pro, sans-serif;

$colors: (
	back-color:#3b3f50,
	body-color: #21232e,
	landing-logo-font-color: #ffffff,
	button-background-color: #e3ac00,
	section-card-text-color: #b6bece,
	gradient-second-color: #922b53,
	text-selection-color: #ff4e33
)